.list {
    padding: 0 30px;
}

.item {
    margin-bottom: 10px;
}

.text {
    margin-right: 20px;
}

.btn {
    width: 50px;
    padding: 5px;

    background-color: lightsalmon;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.3);
}